<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>Cashmere Tennis Club</title>
    </head>
    <body>
        
        <form action="/add_item" method="post" enctype='multipart/form-data'>


            <input type="file" name="file">
            <input type="submit" value="Add">

        </form>

    </body>
</html>