{% extends "layout.html" %}
{% block body %}

<div class="page-wrapper">
  <div class="hero-image">
    <div class="hero-text">
      <h1>Coaching</h1>
    </div>
  </div>

  <div class="onecoloumn">
    <h2>Our Team & Philosophy</h2>
    <p>Founded in 2001, the Meredith Brothers Tennis Academy has grown into one of New Zealand’s leading training centres, shaping the nation’s top young talent. With over 30 years in the NZ tennis scene, brothers Matt, James, and Tim Meredith bring over 75 years of combined experience in playing and coaching at national and international levels. Their expertise continues to inspire the next generation of players. The team has a wealth of knowledge and experience both playing and coaching</p>
  </div>

</div>

{% endblock %}