{% extends "layout.html" %}
{% block body %}

<div class="coaching-wrapper">
    <div class="hero-image">
        <div class="hero-text">
            <h1>Coaching</h1>
        </div>
    </div>

    <div class="onecoloumn">
        <h2>Our Team & Philosophy</h2>
        <p>Founded in 2001, the Meredith Brothers Tennis Academy has grown into one of New Zealand’s leading training centres, shaping the nation’s top young talent. With over 30 years in the NZ tennis scene, brothers Matt, James, and Tim Meredith bring over 75 years of combined experience in playing and coaching at national and international levels. Their expertise continues to inspire the next generation of players. The team has a wealth of knowledge and experience both playing and coaching</p>
    </div>

    <section class="threecoloumn">
        <div class="container">
            <div class="w3-card-4 cards">
                <img src="./static/images/james.jpg" alt="James Meredith">
            </div>
            <div class="event-details">
                <h3>James Meredith</h3>
                <h5>James is our Head Coach at the Meredith Brothers Tennis Academy. He is also our junior administration and has had a very distinguished tennis career. Ranking the 23rd best player in Division 1 Universities in the USA.</h5>
            </div>
            </div>

            <div class="container">
            <div class="w3-card-4 cards">
                <img src="./static/images/dave.jpg" alt="Dave Meredith">
            </div>
            <div class="event-details">
                <h3>Dave Meredith</h3>
                <h5>Dave is a Senior Coach at the Meredith Brothers Academy, leading our Hot Shots programme. Dave is father to Matt, Tim and James responsible for coaching and developing the 3 boys.</h5>
            </div>
            </div>

            <div class="container">
            <div class="w3-card-4 cards">
                <img src="./static/images/matthew.jpg" alt="Matthew Meredith">
            </div>
            <div class="event-details">
                <h3>Matthew Meredith</h3>
                <h5>Matt is the Director of Coaching at the Meredith Brothers Tennis Academy. He has had over 20 years of tennis coaching experience and is currently the Tennis Canterbury Regional Head Coach. </h5>
            </div>
        </div>
    </section>

    <div class="grey-wrapper-threecoloumn">
        <h2>Training Sessions</h2>

        <section class="threecoloumn">
            <div class="container">

                <div class="w3-card-4 cards">
                    <img src="./static/images/james.jpg" alt="James Meredith">
                </div>
                <div class="event-details">
                    <h3>Hot Shots</h3>
                    <h4>10am every Saturday</h4>
                    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
                </div>
                </div>

                <div class="container">
                <div class="w3-card-4 cards">
                    <img src="./static/images/dave.jpg" alt="Dave Meredith">
                </div>
                <div class="event-details">
                    <h3>Junior Training</h3>
                    <h4>6pm every Tuesday</h4>
                    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
                </div>
                </div>

                <div class="container">
                <div class="w3-card-4 cards">
                    <img src="./static/images/matthew.jpg" alt="Matthew Meredith">
                </div>
                <div class="event-details">
                    <h3>Senior Training</h3>
                    <h4>6pm every Thursday</h4>
                    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}