{% extends "layout.html" %}
{% block body %}

<div class="page-wrapper">
  <div class="hero-image">
    <div class="hero-text">
      <h1>Welcome to Cashmere Tennis Club</h1>
    </div>
  </div>

    <div class="onecoloumn">
        <h2>Who Are We?</h2>
        <p>Maecenas malesuada massa nec rhoncus pharetra. Nam convallis pulvinar venenatis. Integer efficitur nunc a ligula hendrerit, eget condimentum felis sollicitudin. Phasellus dictum velit at arcu dapibus dignissim. Etiam vitae dui tempor, scelerisque justo nec, vulputate dui. Integer ornare molestie gravida. Nulla eu lacinia velit. Mauris et lorem placerat, condimentum elit id, molestie turpis. Sed sit amet pulvinar odio. Vestibulum ultricies, metus non commodo faucibus, risus ligula lacinia metus, eget pellentesque mi tellus sit amet nulla. Donec in tincidunt orci. Quisque at volutpat ligula. Donec auctor interdum ligula in fermentum.</p>
    </div>

    <div class = "home-wrapper-threecoloumn">
        <div class="threecoloumn">
            
            <div class="w3-card-4 home-threecoloumn">
                <div>
                    <img src="./static/images/tennis.avif" alt="News Tab">
                </div>
                <div class="textoverlay">
                    <h2>News</h2>
                </div>
                

            </div>
            
            <div class="w3-card-4 home-threecoloumn">
                <div>
                    <img src="./static/images/team.jpg" alt="Our Team Tab">
                </div>
                <div class="textoverlay">
                    <h2>Our&nbspTeam</h2>
                </div>
            </div>
            
            <div class="w3-card-4 home-threecoloumn">
                <div>
                    <img src="./static/images/coaching.webp" alt="Coaching Tab">
                </div>
                <div class="textoverlay">
                    <h2>Coaching</h2>
                </div>
            </div>

        </div>
    </div>

    <div class="onecoloumn">
        <h2>Become a member today!</h2>
        <p>Maecenas malesuada massa nec rhoncus pharetra. Nam convallis pulvinar venenatis. Integer efficitur nunc a ligula hendrerit, eget condimentum felis sollicitudin. Phasellus dictum velit at arcu dapibus dignissim. Etiam vitae dui tempor, scelerisque justo nec, vulputate dui. Integer ornare molestie gravida. Nulla eu lacinia velit. Mauris et lorem placerat, condimentum elit id, molestie turpis. Sed sit amet pulvinar odio. Vestibulum ultricies, metus non commodo faucibus, risus ligula lacinia metus, eget pellentesque mi tellus sit amet nulla. Donec in tincidunt orci. Quisque at volutpat ligula. Donec auctor interdum ligula in fermentum.</p>
        <button class="button">Join now!</button>
    </div>

{% endblock %}
