<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
    <title>Cashmere Tennis Club</title>
</head>

<body class="w3-container navbar-container">
    
    <div class="w3-bar w3-red navbar">
        <a href="/" class="w3-bar-item w3-button">Home</a>
        <a href="/news" class="w3-bar-item w3-button">Events</a>
        <a href="/coaching" class="w3-bar-item w3-button">Coaching</a>
        {% if not session["user"] %}
            <a href="/admin" class="w3-bar-item w3-button">Login</a>
        {% else %}
            <a href="/admin/dashboard" class="w3-bar-item w3-button">Dashboard</a>
            <a href="/admin_logout" class="w3-bar-item w3-button">Logout</a>
        {% endif %}
    </div>

    {% block body%}{%endblock%}
</body>
</html>

